<!DOCTYPE html>
<html lang="en" ng-app="qna">
    <head>
        <title>PressGang CCMS Publican Book Import</title>
        <script type="text/javascript">
            // http://stackoverflow.com/a/10556743/157605
            window.onerror = function(msg, url, line) {
                window.onbeforeunload = null;

                var bugLink = 'https://bugzilla.redhat.com/enter_bug.cgi?product=PressGang%20CCMS&comment=Message: ' + encodeURIComponent(msg) + '%0D%0A%0D%0AURL: ' + encodeURIComponent(url) + '%0D%0A%0D%0ALine: ' + encodeURIComponent(line);
                var output = "<pre>\n";
                output += String.fromCharCode(9604,9608,9608,9608,9608,9608,9608,9608,9608,9608,9608,9608,9608,9608,9608,9604,9616,9608,9604,9604,9604,9604,9608) + "\n";
                output += String.fromCharCode(9608,9608,9608,9608,9608,9608,9612,9604,9612,9604,9616,9616,9612,9608,9608,9608,9612,9600,9600,9608,9608,9600,9600) + "\n";
                output += String.fromCharCode(9608,9608,9608,9608,9604,9608,9612,9604,9612,9604,9616,9616,9612,9600,9608,9608,9608,9604,9604,9608,9612) + "\n";
                output += String.fromCharCode(9604,9604,9604,9604,9604,9608,9608,9608,9608,9608,9608,9608,9608,9608,9608,9608,9608,9608,9608,9600) + "\n";
                output += "</pre><p>The code is willing but the logic is weak. Please log a <a href='" + bugLink + "'>bug</a>.</p>\n\
                    <p>Message: " + msg + "</p>\n\
                    <p>URL: " + url + "</p>\n\
                    <p>Line: " + line + "</p>";
                console.trace();
                document.documentElement.innerHTML = output;


                var suppressErrorAlert = true;
                return suppressErrorAlert;
            };
        </script>
        <script src="js/moment/moment-with-langs.min.js"></script>
        <script src="js/jquery/jquery-2.1.0.min.js"></script>
        <script src="js/wgxpath/wgxpath.install.js"></script>
        <script src="js/angular/angular.min.js"></script>
        <script src="js/angular/angular-sanitize.js"></script>
        <script src="js/angularfileupload/angular-file-upload.min.js"></script>
        <script src="js/bootstrap/ui-bootstrap-tpls-0.10.0.min.js"></script>
        <script src="js/zip/zip.js"></script>
        <script src="js/zip/inflate.js"></script>
        <script src="js/qna/qnazipmodel.js"></script>
        <script src="js/qna/qnautils.js"></script>
        <script src="js/qna/qna.js"></script>
        <script src="js/qna/controller.js"></script>
        <script src="js/specelement.js"></script>
        <script src="js/fontrule.js"></script>
        <script src="js/qnasteps.js"></script>
        <script src="js/docbookimport.js"></script>
        <script src="js/opendocumentimport.js"></script>
        <script type="application/javascript">
            angular.module('qna', ['ui.bootstrap', 'angularFileUpload', 'ngSanitize']);
            wgxpath.install();
        </script>
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/qna.css" rel="stylesheet">
    </head>
    <body>
        <div ng-controller="QNAController">
            <!-- defines a ok dialog box -->
            <script type="text/ng-template" id="okDialog.html">
                <div class="modal-header">
                    <h3>{{title}}</h3>
                </div>
                <div class="modal-body">
                    {{content}}
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" ng-click="ok()">OK</button>
                </div>
            </script>

            <!-- The panel that contains the current wizard step -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{qna.step.processedTitle}}</h3>
                </div>
                <div class="panel-body">
                    <div ng-if="qna.step.processedIntro != null">{{qna.step.processedIntro}}</div>

                    <!-- Build the outputs -->
                    <div ng-repeat="output in qna.step.processedOutputs">
                        <h3>{{output.intro}}</h3>
                        <div class="row" ng-repeat="variable in output.processedVariables">
                            <!-- combobox form element -->
                            <div ng-if="variable.processedType == inputTypes.COMBOBOX">
                                <div class="col-lg-4" ng-if="variable.processedIntro">{{variable.processedIntro}}</div>
                                <div ng-class="{'col-lg-8': variable.processedIntro, 'col-lg-12': !variable.processedIntro}">
                                    <select
                                            ng-model="qna.config[variable.processedName]"
                                            ng-options="option for option in variable.processedOptions"
                                            ng-disabled="true"></select>
                                </div>
                            </div>
                            <!-- listbox form element -->
                            <div ng-if="variable.processedType == inputTypes.LISTBOX">
                                <div class="col-lg-4" ng-if="variable.processedIntro">{{variable.processedIntro}}</div>
                                <div ng-class="{'col-lg-8': variable.processedIntro, 'col-lg-12': !variable.processedIntro}">
                                    <select
                                            size="20"
                                            ng-model="qna.config[variable.processedName]"
                                            ng-options="option for option in variable.processedOptions"
                                            ng-disabled="true"
                                            style="width: 100%"></select>
                                </div>
                            </div>
                            <!-- radio buttons -->
                            <div class="col-lg-12" ng-repeat="i in getNumber(variable.processedOptions.length) track by $index" ng-if="variable.processedType == inputTypes.RADIO_BUTTONS">
                                <div class="col-lg-4" ng-if="variable.processedIntro">{{variable.processedIntro[$index]}}</div>
                                <div ng-class="{'col-lg-8': variable.processedIntro[$index], 'col-lg-12': !variable.processedIntro[$index]}">
                                    <input type="radio" name="{{variable.processedName}}" ng-model="qna.config[variable.processedName]" value="{{variable.processedOptions[$index]}}" ng-disabled="true">
                                </div>
                            </div>
                            <!-- check box -->
                            <div class="col-lg-12" ng-if="variable.processedType == inputTypes.CHECKBOX">
                                <div class="col-lg-4" ng-if="variable.processedIntro">{{variable.processedIntro}}</div>
                                <div ng-class="{'col-lg-8': variable.processedIntro, 'col-lg-12': !variable.processedIntro}">
                                    <input type="checkbox" name="{{variable.processedName}}" ng-model="qna.config[variable.processedName]" ng-disabled="true">
                                </div>
                            </div>
                            <!-- text box -->
                            <div class="col-lg-12" ng-if="variable.processedType == inputTypes.TEXTBOX">
                                <div class="col-lg-4" ng-if="variable.processedIntro">{{variable.processedIntro}}</div>
                                <div ng-class="{'col-lg-8': variable.processedIntro, 'col-lg-12': !variable.processedIntro}">
                                    <input type="text" name="{{variable.processedName}}" ng-model="qna.config[variable.processedName]" ng-disabled="true">
                                </div>
                            </div>

                            <!-- Progress bar -->
                            <div class="col-lg-12" ng-if="variable.processedType == inputTypes.PROGRESS">
                                <div class="col-lg-4" ng-if="variable.processedIntro">{{variable.processedIntro}}</div>
                                <progressbar animate="false" max="qna.config[variable.processedName][0]" value="qna.config[variable.processedName][1]" type="success"><b>{{qna.config[variable.processedName][1]/qna.config[variable.processedName][0]*100 | number:2}}%</b></progressbar>
                            </div>

                            <!-- Plain text -->
                            <div class="col-lg-12" ng-if="variable.processedType == inputTypes.PLAIN_TEXT">
                                <div class="col-lg-4" ng-if="variable.processedIntro">{{variable.processedIntro}}</div>
                                <div ng-class="{'col-lg-8': variable.processedIntro, 'col-lg-12': !variable.processedIntro}">
                                    {{qna.config[variable.processedName]}}
                                </div>
                            </div>

                            <!-- HTML -->
                            <div class="col-lg-12" ng-if="variable.processedType == inputTypes.HTML">
                                <div class="col-lg-4" ng-if="variable.processedIntro">{{variable.processedIntro}}</div>
                                <div ng-bind-html="qna.config[variable.processedName]" ng-class="{'col-lg-8': variable.processedIntro, 'col-lg-12': !variable.processedIntro}">

                                </div>
                            </div>

                            <!-- Preformatted HTML -->
                            <div class="col-lg-12" ng-if="variable.processedType == inputTypes.PRE_HTML">
                                <div class="col-lg-4" ng-if="variable.processedIntro">{{variable.processedIntro}}</div>
                                <div ng-class="{'col-lg-8': variable.processedIntro, 'col-lg-12': !variable.processedIntro}">
                                    <pre>{{qna.config[variable.processedName]}}</pre>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Build the inputs -->
                    <div ng-repeat="input in qna.step.processedInputs">
                            <h3>{{input.intro}}</h3>
                            <div class="row" ng-repeat="variable in input.processedVariables">

                                <!-- single file form element -->
                                <div ng-if="variable.processedType == inputTypes.SINGLE_FILE">
                                    <div class="col-lg-4" ng-if="variable.processedIntro">{{variable.processedIntro}}</div>
                                    <div ng-class="{'col-lg-8': variable.processedIntro, 'col-lg-12': !variable.processedIntro}">
                                        <input type="file" accept="application/zip" ng-file-select="onFileSelect(variable.processedName, $files)" ng-disabled="disabled" >
                                    </div>
                                 </div>
                                <!-- combobox form element -->
                                <div ng-if="variable.processedType == inputTypes.COMBOBOX">
                                    <div class="col-lg-4" ng-if="variable.processedIntro">{{variable.processedIntro}}</div>
                                    <div ng-class="{'col-lg-8': variable.processedIntro, 'col-lg-12': !variable.processedIntro}">
                                        <select
                                                ng-model="qna.config[variable.processedName]"
                                                ng-options="option for option in variable.processedOptions"
                                                ng-disabled="!variable.processedOptions || disabled"></select>
                                    </div>
                                </div>
                                <!-- listbox form element -->
                                <div ng-if="variable.processedType == inputTypes.LISTBOX">
                                    <div class="col-lg-4" ng-if="variable.processedIntro">{{variable.processedIntro}}</div>
                                    <div ng-class="{'col-lg-8': variable.processedIntro, 'col-lg-12': !variable.processedIntro}">
                                        <select
                                                size="20"
                                                ng-model="qna.config[variable.processedName]"
                                                ng-options="option for option in variable.processedOptions"
                                                ng-disabled="!variable.processedOptions || disabled"
                                                style="width: 100%"></select>
                                    </div>
                                </div>
                                <!-- radio buttons -->
                                <div class="col-lg-12" ng-repeat="i in getNumber(variable.processedOptions.length) track by $index" ng-if="variable.processedType == inputTypes.RADIO_BUTTONS">
                                    <div class="col-lg-4" ng-if="variable.processedIntro">{{variable.processedIntro[$index]}}</div>
                                    <div ng-class="{'col-lg-8': variable.processedIntro[$index], 'col-lg-12': !variable.processedIntro[$index]}">
                                        <input type="radio" name="{{variable.processedName}}" ng-model="qna.config[variable.processedName]" value="{{variable.processedOptions[$index]}}" ng-disabled="disabled">
                                    </div>
                                </div>
                                <!-- check box -->
                                <div class="col-lg-12" ng-if="variable.processedType == inputTypes.CHECKBOX">
                                    <div class="col-lg-4" ng-if="variable.processedIntro">{{variable.processedIntro}}</div>
                                    <div ng-class="{'col-lg-8': variable.processedIntro, 'col-lg-12': !variable.processedIntro}">
                                        <input type="checkbox" name="{{variable.processedName}}" ng-model="qna.config[variable.processedName]" ng-disabled="disabled">
                                    </div>
                                </div>
                                <!-- text box -->
                                <div class="col-lg-12" ng-if="variable.processedType == inputTypes.TEXTBOX">
                                    <div class="col-lg-4" ng-if="variable.processedIntro">{{variable.processedIntro}}</div>
                                    <div ng-class="{'col-lg-8': variable.processedIntro, 'col-lg-12': !variable.processedIntro}">
                                        <input type="text" style="width: 100%" name="{{variable.processedName}}" ng-model="qna.config[variable.processedName]" ng-disabled="disabled">
                                    </div>
                                </div>

                            </div>
                    </div>



                    <button class="btn btn-default pull-right" style="margin-top: 10px; margin-left: 10px" ng-click="next()" ng-if="qna.hasNext() && qna.step.processedShowNext" ng-disabled="disabled">{{qna.step.getShowNextName()}}</button>
                    <button class="btn btn-default pull-right" style="margin-top: 10px; margin-left: 10px" ng-click="previous()" ng-if="qna.hasPrevious() && qna.step.processedShowPrevious" ng-disabled="disabled">{{qna.step.getShowPreviousName()}}</button>
                    <button class="btn btn-default pull-right" style="margin-top: 10px; margin-left: 10px" ng-click="restart()" ng-if="qna.step.processedShowRestart" ng-disabled="disabled">{{qna.step.getShowRestartName()}}</button>

                </div>
            </div>


        </div>
    </body>
</html>