<!DOCTYPE html>
<html lang="en" ng-app="qna">
    <head>
        <title>PressGang CCMS Publican Book Import</title>
        <script src="js/angular/angular.min.js"></script>
        <script src="js/angularfileupload/angular-file-upload.min.js"></script>
        <script src="js/bootstrap/ui-bootstrap-tpls-0.10.0.min.js"></script>
        <script src="js/zip/zip.js"></script>
        <script src="js/qna/qnazipmodel.js"></script>
        <script src="js/qna/qna.js"></script>
        <script src="js/qna/controller.js"></script>
        <script src="js/qnasteps.js"></script>
        <script type="application/javascript">
            angular.module('qna', ['ui.bootstrap', 'angularFileUpload']);
        </script>
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/qna.css" rel="stylesheet">
    </head>
    <body>
        <div ng-controller="QNAController">
            <!-- defines a ok dialog box -->
            <script type="text/ng-template" id="okDialog.html">
                <div class="modal-header">
                    <h3>{{title}}</h3>
                </div>
                <div class="modal-body">
                    {{content}}
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" ng-click="ok()">OK</button>
                </div>
            </script>

            <!-- The panel that contains the current wizard step -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{qna.step.title}}</h3>
                </div>
                <div class="panel-body">
                    <div ng-if="qna.step.intro != null">{{qna.step.intro}}</div>

                    <!-- Build the inputs -->
                    <div ng-repeat="input in qna.step.inputs">
                            <h3>{{input.intro}}</h3>
                            <div class="row" ng-repeat="variable in input.variables">
                                <div class="col-lg-2">{{variable.intro}}</div>
                                <div class="col-lg-10" ng-if="variable.type == inputTypes.SINGLE_FILE">
                                    <input type="file" accept="application/zip" ng-file-select="onFileSelect(variable.name, $files)" >
                                </div>
                            </div>
                    </div>

                    <button class="btn btn-default pull-right" ng-click="next()" ng-if="qna.hasNext()">Next</button>
                </div>
            </div>


        </div>
    </body>
</html>