<!DOCTYPE html>
<html lang="en" ng-app="qna">
    <head>
        <title>PressGang CCMS Publican Book Import</title>
        <script src="js/angular/angular.min.js"></script>
        <script src="js/angularfileupload/angular-file-upload.min.js"></script>
        <script src="js/bootstrap/ui-bootstrap-tpls-0.10.0.min.js"></script>
        <script src="js/zip/zip.js"></script>
        <script src="js/zip/inflate.js"></script>
        <script src="js/qna/qnazipmodel.js"></script>
        <script src="js/qna/qna.js"></script>
        <script src="js/qna/controller.js"></script>
        <script src="js/qnasteps.js"></script>
        <script type="application/javascript">
            angular.module('qna', ['ui.bootstrap', 'angularFileUpload']);
        </script>
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/qna.css" rel="stylesheet">
    </head>
    <body>
        <div ng-controller="QNAController">
            <!-- defines a ok dialog box -->
            <script type="text/ng-template" id="okDialog.html">
                <div class="modal-header">
                    <h3>{{title}}</h3>
                </div>
                <div class="modal-body">
                    {{content}}
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" ng-click="ok()">OK</button>
                </div>
            </script>

            <!-- The panel that contains the current wizard step -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{qna.step.processedTitle}}</h3>
                </div>
                <div class="panel-body">
                    <div ng-if="qna.step.processedIntro != null">{{qna.step.processedIntro}}</div>

                    <!-- Build the inputs -->
                    <div ng-repeat="input in qna.step.processedInputs">
                            <h3>{{input.intro}}</h3>
                            <div class="row" ng-repeat="variable in input.processedVariables">

                                <!-- single file form element -->
                                <div ng-if="variable.processedType == inputTypes.SINGLE_FILE">
                                    <div class="col-lg-4" ng-if="variable.processedIntro">{{variable.processedIntro}}</div>
                                    <div ng-class="{'col-lg-8': variable.processedIntro, 'col-lg-12': !variable.processedIntro}">
                                        <input type="file" accept="application/zip" ng-file-select="onFileSelect(variable.processedName, $files)" ng-disabled="disabled" >
                                    </div>
                                 </div>
                                <!-- listbox form element -->
                                <div ng-if="variable.processedType == inputTypes.LISTBOX">
                                    <div class="col-lg-4" ng-if="variable.processedIntro">{{variable.processedIntro}}</div>
                                    <div ng-class="{'col-lg-8': variable.processedIntro, 'col-lg-12': !variable.processedIntro}">
                                        <select
                                                size="20"
                                                ng-model="qna.config[variable.processedName]"
                                                ng-options="option for option in variable.processedOptions"
                                                ng-disabled="!variable.processedOptions || disabled"
                                                style="width: 100%"></select>
                                    </div>
                                </div>
                                <!-- radio buttons -->
                                <div class="col-lg-12" ng-repeat="i in getNumber(variable.processedOptions.length) track by $index" ng-if="variable.processedType == inputTypes.RADIO_BUTTONS">
                                    <div class="col-lg-4" ng-if="variable.processedIntro">{{variable.processedIntro[$index]}}</div>
                                    <div ng-class="{'col-lg-8': variable.processedIntro[$index], 'col-lg-12': !variable.processedIntro[$index]}">
                                        <input type="radio" name="{{variable.processedName}}" ng-model="qna.config[variable.processedName]" value="{{variable.processedOptions[$index]}}" ng-disabled="disabled">
                                    </div>
                                </div>
                                <!-- check box -->
                                <div class="col-lg-12" ng-if="variable.processedType == inputTypes.CHECKBOX">
                                    <div class="col-lg-4" ng-if="variable.processedIntro">{{variable.processedIntro}}</div>
                                    <div ng-class="{'col-lg-8': variable.processedIntro, 'col-lg-12': !variable.processedIntro}">
                                        <input type="checkbox" name="{{variable.processedName}}" ng-model="qna.config[variable.processedName]" ng-disabled="disabled">
                                    </div>
                                </div>
                                <!-- text box -->
                                <div class="col-lg-12" ng-if="variable.processedType == inputTypes.TEXTBOX">
                                    <div class="col-lg-4" ng-if="variable.processedIntro">{{variable.processedIntro}}</div>
                                    <div ng-class="{'col-lg-8': variable.processedIntro, 'col-lg-12': !variable.processedIntro}">
                                        <input type="text" name="{{variable.processedName}}" ng-model="qna.config[variable.processedName]" ng-disabled="disabled">
                                    </div>
                                </div>

                            </div>
                    </div>

                    <!-- Build the outputs -->
                    <div ng-repeat="output in qna.step.processedOutputs">
                        <h3>{{output.intro}}</h3>
                        <div class="row" ng-repeat="variable in output.processedVariables">

                            <!-- listbox form element -->
                            <div ng-if="variable.processedType == inputTypes.LISTBOX">
                                <div class="col-lg-4" ng-if="variable.processedIntro">{{variable.processedIntro}}</div>
                                <div ng-class="{'col-lg-8': variable.processedIntro, 'col-lg-12': !variable.processedIntro}">
                                    <select
                                            size="20"
                                            ng-model="qna.config[variable.processedName]"
                                            ng-options="option for option in variable.processedOptions"
                                            ng-disabled="true"
                                            style="width: 100%"></select>
                                </div>
                            </div>
                            <!-- radio buttons -->
                            <div class="col-lg-12" ng-repeat="i in getNumber(variable.processedOptions.length) track by $index" ng-if="variable.processedType == inputTypes.RADIO_BUTTONS">
                                <div class="col-lg-4" ng-if="variable.processedIntro">{{variable.processedIntro[$index]}}</div>
                                <div ng-class="{'col-lg-8': variable.processedIntro[$index], 'col-lg-12': !variable.processedIntro[$index]}">
                                    <input type="radio" name="{{variable.processedName}}" ng-model="qna.config[variable.processedName]" value="{{variable.processedOptions[$index]}}" ng-disabled="true">
                                </div>
                            </div>
                            <!-- check box -->
                            <div class="col-lg-12" ng-if="variable.processedType == inputTypes.CHECKBOX">
                                <div class="col-lg-4" ng-if="variable.processedIntro">{{variable.processedIntro}}</div>
                                <div ng-class="{'col-lg-8': variable.processedIntro, 'col-lg-12': !variable.processedIntro}">
                                    <input type="checkbox" name="{{variable.processedName}}" ng-model="qna.config[variable.processedName]" ng-disabled="true">
                                </div>
                            </div>
                            <!-- text box -->
                            <div class="col-lg-12" ng-if="variable.processedType == inputTypes.TEXTBOX">
                                <div class="col-lg-4" ng-if="variable.processedIntro">{{variable.processedIntro}}</div>
                                <div ng-class="{'col-lg-8': variable.processedIntro, 'col-lg-12': !variable.processedIntro}">
                                    <input type="text" name="{{variable.processedName}}" ng-model="qna.config[variable.processedName]" ng-disabled="true">
                                </div>
                            </div>

                            <!-- Progress bar -->
                            <div class="col-lg-12" ng-if="variable.processedType == inputTypes.PROGRESS">
                                <div class="col-lg-4" ng-if="variable.processedIntro">{{variable.processedIntro}}</div>
                                <progressbar animate="false" max="qna.config[variable.processedName][0]" value="qna.config[variable.processedName][1]" type="success"><b>{{qna.config[variable.processedName][1]/qna.config[variable.processedName][0]*100 | number:2}}%</b></progressbar>
                            </div>

                        </div>
                    </div>

                    <button class="btn btn-default pull-right" style="margin-top: 10px; margin-left: 10px" ng-click="next()" ng-if="qna.hasNext()" ng-disabled="disabled">Next</button>
                    <button class="btn btn-default pull-right" style="margin-top: 10px; margin-left: 10px" ng-click="previous()" ng-if="qna.hasPrevious()" ng-disabled="disabled">Previous</button>

                </div>
            </div>


        </div>
    </body>
</html>