.container {
    width: 900px;
}

.step-container-main {
    min-height: 400px;
}

.system-warning {
    margin-top: 40px;
}

.navbar-nav > li > span {
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    line-height: 11px;
}

.navbar-brand {
    line-height: 10px;
}