<!DOCTYPE html>
<html lang="en">
    <head>
        <title ng-controller="QNAController" ng-bind="qna.step.titlePrefix + 'PressGang CCMS Publican Book Import'">PressGang CCMS Publican Book Import</title>
        <script type="text/javascript">
            // http://stackoverflow.com/a/10556743/157605
            window.onerror = function(msg, url, line) {
                window.onbeforeunload = null;

                var bugLink = 'https://bugzilla.redhat.com/enter_bug.cgi?product=PressGang%20CCMS&component=ImportTool&comment=Message: ' + encodeURIComponent(msg) + '%0D%0A%0D%0AURL: ' + encodeURIComponent(url) + '%0D%0A%0D%0ALine: ' + encodeURIComponent(line);
                var output = "<pre>\n";
                output += String.fromCharCode(9604,9608,9608,9608,9608,9608,9608,9608,9608,9608,9608,9608,9608,9608,9608,9604,9616,9608,9604,9604,9604,9604,9608) + "\n";
                output += String.fromCharCode(9608,9608,9608,9608,9608,9608,9612,9604,9612,9604,9616,9616,9612,9608,9608,9608,9612,9600,9600,9608,9608,9600,9600) + "\n";
                output += String.fromCharCode(9608,9608,9608,9608,9604,9608,9612,9604,9612,9604,9616,9616,9612,9600,9608,9608,9608,9604,9604,9608,9612) + "\n";
                output += String.fromCharCode(9604,9604,9604,9604,9604,9608,9608,9608,9608,9608,9608,9608,9608,9608,9608,9608,9608,9608,9608,9600) + "\n";
                output += "</pre><p>The code is willing but the logic is weak. Please log a <a href='" + bugLink + "'>bug</a>.</p>\n\
                    <p>Message: " + msg + "</p>\n\
                    <p>URL: " + url + "</p>\n\
                    <p>Line: " + line + "</p>";
                document.documentElement.innerHTML = output;


                var suppressErrorAlert = true;
                return suppressErrorAlert;
            };
        </script>
        <script src="js/require.min.js"></script>
        <script type="application/javascript">
            'use strict';

            requirejs.config({
                baseUrl: 'js',
                paths: {
                    'jquery': 'jquery/jquery-2.1.0.min',
                    'zip': 'zip/zip',
                    'angular': 'angular/angular.min',
                    'angular-sanitize': 'angular/angular-sanitize',
                    'angular-file-upload': 'angularfileupload/angular-file-upload',
                    'angular-bootstrap': 'bootstrap/ui-bootstrap-tpls-0.10.0.min',
                    'wgxpath': 'wgxpath/wgxpath',
                    'URIjs': 'js/uri'
                },
                shim: {
                    'wgxpath': {
                        exports: "wgxpath"
                    },
                    'zip': {
                        exports: 'zip'
                    },
                    'angular': {
                        exports: "angular"
                    },
                    'angular-sanitize': {
                        deps: ["angular"]
                    },
                    'angular-file-upload': {
                        deps: ["angular"]
                    },
                    'angular-bootstrap': {
                        deps: ["angular"]
                    }
                }
            });

            require(["wgxpath", "qnaangular/controller"], function(wgxpath, app) {
                wgxpath.install();
            });
        </script>
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/qna.css" rel="stylesheet">
        <style>
            [ng-cloak] {
                display: none;
            }
        </style>
    </head>
    <body ng-cloak>
        <div ng-controller="QNAController">
            <!-- defines a ok dialog box -->
            <script type="text/ng-template" id="okDialog.html">
                <div class="modal-header">
                    <h3>{{title}}</h3>
                </div>
                <div class="modal-body">
                    {{content}}
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" ng-click="ok()">OK</button>
                </div>
            </script>

            <!-- The panel that contains the current wizard step -->
            <div class="panel panel-default" style="min-height: 400px; position: relative">
                <div class="panel-heading">
                    <h3 class="panel-title">{{qna.step.processedTitle}}<img src="images/spinner.gif" ng-show="disabled" class="pull-right"/></h3>
                </div>
                <div class="panel-body" style="margin-bottom: 40px">
                    <div ng-if="qna.step.processedIntro != null">{{qna.step.processedIntro}}</div>

                    <!-- Build the outputs -->
                    <div ng-repeat="output in qna.step.processedOutputs">
                        <h3>{{output.intro}}</h3>
                        <div class="row" ng-repeat="variable in output.processedVariables">
                            <!-- combobox form element -->
                            <div ng-if="variable.processedType == inputTypes.COMBOBOX">
                                <div class="col-lg-4" ng-if="variable.processedIntro">{{variable.processedIntro}}</div>
                                <div ng-class="{'col-lg-8': variable.processedIntro, 'col-lg-12': !variable.processedIntro}">
                                    <select
                                            ng-model="qna.config[variable.processedName]"
                                            ng-options="option for option in variable.processedOptions"
                                            ng-disabled="true"></select>
                                </div>
                            </div>
                            <!-- listbox form element -->
                            <div ng-if="variable.processedType == inputTypes.LISTBOX">
                                <div class="col-lg-4" ng-if="variable.processedIntro">{{variable.processedIntro}}</div>
                                <div ng-class="{'col-lg-8': variable.processedIntro, 'col-lg-12': !variable.processedIntro}">
                                    <select
                                            size="20"
                                            ng-model="qna.config[variable.processedName]"
                                            ng-options="option for option in variable.processedOptions"
                                            ng-disabled="true"
                                            style="width: 100%"></select>
                                </div>
                            </div>
                            <!-- radio buttons -->
                            <div class="col-lg-12" ng-repeat="i in getNumber(variable.processedOptions.length) track by $index" ng-if="variable.processedType == inputTypes.RADIO_BUTTONS">
                                <div class="col-lg-4" ng-if="variable.processedIntro">{{variable.processedIntro[$index]}}</div>
                                <div ng-class="{'col-lg-8': variable.processedIntro[$index], 'col-lg-12': !variable.processedIntro[$index]}">
                                    <input type="radio" name="{{variable.processedName}}" ng-model="qna.config[variable.processedName]" value="{{variable.processedOptions[$index]}}" ng-disabled="true">
                                </div>
                            </div>
                            <!-- check box -->
                            <div class="col-lg-12" ng-if="variable.processedType == inputTypes.CHECKBOX">
                                <div class="col-lg-4" ng-if="variable.processedIntro">{{variable.processedIntro}}</div>
                                <div ng-class="{'col-lg-8': variable.processedIntro, 'col-lg-12': !variable.processedIntro}">
                                    <input type="checkbox" name="{{variable.processedName}}" ng-model="qna.config[variable.processedName]" ng-disabled="true">
                                </div>
                            </div>
                            <!-- text box -->
                            <div class="col-lg-12" ng-if="variable.processedType == inputTypes.TEXTBOX">
                                <div class="col-lg-4" ng-if="variable.processedIntro">{{variable.processedIntro}}</div>
                                <div ng-class="{'col-lg-8': variable.processedIntro, 'col-lg-12': !variable.processedIntro}">
                                    <input type="text" name="{{variable.processedName}}" ng-model="qna.config[variable.processedName]" ng-disabled="true">
                                </div>
                            </div>

                            <!-- Progress bar -->
                            <div class="col-lg-12" ng-if="variable.processedType == inputTypes.PROGRESS">
                                <div class="col-lg-4" ng-if="variable.processedIntro">{{variable.processedIntro}}</div>
                                <progressbar animate="false" max="qna.config[variable.processedName][0]" value="qna.config[variable.processedName][1]" type="success"><b>{{qna.config[variable.processedName][1]/qna.config[variable.processedName][0]*100 | number:2}}%</b></progressbar>
                            </div>

                            <!-- Plain text -->
                            <div class="col-lg-12" ng-if="variable.processedType == inputTypes.PLAIN_TEXT">
                                <div class="col-lg-4" ng-if="variable.processedIntro">{{variable.processedIntro}}</div>
                                <div ng-class="{'col-lg-8': variable.processedIntro, 'col-lg-12': !variable.processedIntro}">
                                    {{qna.config[variable.processedName]}}
                                </div>
                            </div>

                            <!-- HTML -->
                            <div class="col-lg-12" ng-if="variable.processedType == inputTypes.HTML">
                                <div class="col-lg-4" ng-if="variable.processedIntro">{{variable.processedIntro}}</div>
                                <div ng-bind-html="qna.config[variable.processedName]" ng-class="{'col-lg-8': variable.processedIntro, 'col-lg-12': !variable.processedIntro}">

                                </div>
                            </div>

                            <!-- Preformatted HTML -->
                            <div class="col-lg-12" ng-if="variable.processedType == inputTypes.PRE_HTML">
                                <div class="col-lg-4" ng-if="variable.processedIntro">{{variable.processedIntro}}</div>
                                <div ng-class="{'col-lg-8': variable.processedIntro, 'col-lg-12': !variable.processedIntro}">
                                    <pre>{{qna.config[variable.processedName]}}</pre>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Build the inputs -->
                    <div ng-repeat="input in qna.step.processedInputs">
                            <h3>{{input.intro}}</h3>
                            <div class="row" ng-repeat="variable in input.processedVariables">

                                <!-- single file form element -->
                                <div ng-if="variable.processedType == inputTypes.SINGLE_FILE">
                                    <div class="col-lg-4" ng-if="variable.processedIntro">{{variable.processedIntro}}</div>
                                    <div ng-class="{'col-lg-8': variable.processedIntro, 'col-lg-12': !variable.processedIntro}">
                                        <input type="file" accept="application/zip" ng-file-select="onFileSelect(variable.processedName, $files)" ng-disabled="disabled || variable.processedDisabled" >
                                    </div>
                                 </div>
                                <!-- directory selection -->
                                <div ng-if="variable.processedType == inputTypes.DIRECTORY">
                                    <div class="col-lg-4" ng-if="variable.processedIntro">{{variable.processedIntro}}</div>
                                    <div ng-class="{'col-lg-8': variable.processedIntro, 'col-lg-12': !variable.processedIntro}">
                                        <input type="file" ng-file-select="onDirectorySelect(variable.processedName, $files)" webkitdirectory="" directory="" ng-disabled="disabled || variable.processedDisabled"/>
                                    </div>
                                </div>
                                <!-- combobox form element -->
                                <div ng-if="variable.processedType == inputTypes.COMBOBOX">
                                    <div class="col-lg-4" ng-if="variable.processedIntro">{{variable.processedIntro}}</div>
                                    <div ng-class="{'col-lg-8': variable.processedIntro, 'col-lg-12': !variable.processedIntro}">
                                        <select
                                                ng-model="qna.config[variable.processedName]"
                                                ng-options="option for option in variable.processedOptions"
                                                ng-disabled="!variable.processedOptions || disabled || variable.processedDisabled"></select>
                                    </div>
                                </div>
                                <!-- listbox form element -->
                                <div ng-if="variable.processedType == inputTypes.LISTBOX">
                                    <div class="col-lg-4" ng-if="variable.processedIntro">{{variable.processedIntro}}</div>
                                    <div ng-class="{'col-lg-8': variable.processedIntro, 'col-lg-12': !variable.processedIntro}">
                                        <select
                                                size="20"
                                                ng-model="qna.config[variable.processedName]"
                                                ng-options="option for option in variable.processedOptions"
                                                ng-disabled="!variable.processedOptions || disabled || variable.processedDisabled"
                                                style="width: 100%"></select>
                                    </div>
                                </div>
                                <!-- radio buttons -->
                                <div class="col-lg-12" ng-repeat="i in getNumber(variable.processedOptions.length) track by $index" ng-if="variable.processedType == inputTypes.RADIO_BUTTONS">
                                    <div class="col-lg-4" ng-if="variable.processedIntro">{{variable.processedIntro[$index]}}</div>
                                    <div ng-class="{'col-lg-8': variable.processedIntro[$index], 'col-lg-12': !variable.processedIntro[$index]}">
                                        <input type="radio" name="{{variable.processedName}}" ng-model="qna.config[variable.processedName]" value="{{variable.processedOptions[$index]}}" ng-disabled="disabled || variable.processedDisabled">
                                    </div>
                                </div>
                                <!-- check box -->
                                <div class="col-lg-12" ng-if="variable.processedType == inputTypes.CHECKBOX">
                                    <div class="col-lg-4" ng-if="variable.processedIntro">{{variable.processedIntro}}</div>
                                    <div ng-class="{'col-lg-8': variable.processedIntro, 'col-lg-12': !variable.processedIntro}">
                                        <input type="checkbox" name="{{variable.processedName}}" ng-model="qna.config[variable.processedName]" ng-disabled="disabled || variable.processedDisabled">
                                    </div>
                                </div>
                                <!-- text box -->
                                <div class="col-lg-12" ng-if="variable.processedType == inputTypes.TEXTBOX">
                                    <div class="col-lg-4" ng-if="variable.processedIntro">{{variable.processedIntro}}</div>
                                    <div ng-class="{'col-lg-8': variable.processedIntro, 'col-lg-12': !variable.processedIntro}">
                                        <input type="text" style="width: 100%" name="{{variable.processedName}}" ng-model="qna.config[variable.processedName]" ng-disabled="disabled || variable.processedDisabled">
                                    </div>
                                </div>

                            </div>
                    </div>

                    <div style="position: absolute; left: 10px; bottom: 10px; right: 10px">
                        <a title="Report a bug" href="https://bugzilla.redhat.com/enter_bug.cgi?product=PressGang%20CCMS&component=ImportTool"><img style="width:32px; height: 32px" src="images/bug.png"/></a>
                        <button class="btn btn-default pull-right" style="margin-top: 10px; margin-left: 10px" ng-click="next()" ng-if="qna.hasNext() && qna.step.processedShowNext" ng-disabled="disabled">{{qna.step.getShowNextName()}}</button>
                        <button class="btn btn-default pull-right" style="margin-top: 10px; margin-left: 10px" ng-click="previous()" ng-if="qna.hasPrevious() && qna.step.processedShowPrevious" ng-disabled="disabled">{{qna.step.getShowPreviousName()}}</button>
                        <button class="btn btn-default pull-right" style="margin-top: 10px; margin-left: 10px" ng-click="restart()" ng-if="qna.step.processedShowRestart" ng-disabled="disabled">{{qna.step.getShowRestartName()}}</button>
                    </div>

                </div>
            </div>

            <div class="pull-right">Build 1.5-SNAPSHOT 201404021241</div>

            <div style="clear: both" class="alert alert-danger">This is an alpha release. You can only import to the test server. Please log bugs for any issues you find by clicking the bug icon.</div>
        </div>
    </body>
</html>